main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Wrapper */
.eyes {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 5px;
  background: #ffeb3b;
  box-shadow: 0 0 3px;
  position: relative;
  overflow: hidden;
}

/* Eye */
.eye-retina {
  display: inline-block;
  width: 50%;
  height: 50%;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* lashes */
.eye-lash {
  position: absolute;
  height: 50%;
  background: orange;
  width: 100%;
  z-index: 1;
}

.up {
  top: -50%;
  animation: blinkbottom 10s linear infinite;
}

.down {
  bottom: -50%;
  animation: blinktop 10s linear infinite;
}

@keyframes blinkbottom {
  0% {
    top: -50%;
  }
  5% {
    top: 0;
  }
  10% {
    top: -50%;
  }
}

@keyframes blinktop {
  0% {
    bottom: -50%;
  }
  5% {
    bottom: 0;
  }
  10% {
    bottom: -50%;
  }
}
