* {
  box-sizing: border-box;
}

.sun-moon {
  position: relative;
  width: 100px;
  height: 56px;
  padding: 5px;
  border-radius: 45px;
  border: 3px solid #1a237e;
  background-color: #3f51b5;
  overflow: hidden;
  transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.sun-moon input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.circle {
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.small {
  width: 30px;
  height: 30px;
  background: #3f51b5;
  left: 20px;
  top: 3px;
  transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.large {
  width: 40px;
  height: 40px;
  background: #fff;
  border: 3px solid #fff;
  top: 50%;
  transform: translateY(-50%);
  left: 7px;
  transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.move {
  background-color: #fff;
  border-color: #f3909a;
}

.move .large {
  left: 50px;
  background: yellow;
  border-color: orange;
}

.move .small {
  left: 60px;
  top: 50px;
  background-color: #fff;
}
