* {
  box-sizing: border-box;
}

body {
  background-color: aqua;
}

#search-area {
  text-align: center;
  padding-top: 50px;
}

#search-area > input {
  padding: 20px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 0px 3px #000;
}

#search-area > button {
  padding: 10px;
  margin-left: 30px;
}

#list-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.lists {
  flex: 25%;
  max-width: 25%;
  padding: 15px;
  overflow: hidden;
}

.lists > img {
  width: 100%;
  max-height: 350px;
}

.lists > p {
  margin: 0;
  padding: 10px 10px;
  background: #e3f2fd;
  font-size: 1.1em;
  line-height: 1.5em;
}
