* {
  box-sizing: border-box;
}

main {
  width: 55%;
  margin: 0 auto;
}

#score-area {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 30px;
}

#play-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ground {
  display: inline-flex;
  flex: 1 1 25%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

.dirt,
.mole {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.dirt {
  background-image: url("./assets/dirt.png");
  z-index: 1;
  background-position: center 113%;
}

.mole {
  background-image: url(./assets/mole.png);
  transition: all 0.1s ease;
  top: 100%;
  background-position: bottom;
  background-size: 73%;
}

.ground.active .mole {
  top: 0;
}

button {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding: 0.7em 1.2em;
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  min-width: 96px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid;
  color: #fff;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.primary {
  background-color: #2fcb53;
  border-color: #2fcb53;
  color: #fff;
}

.primary:hover {
  background-color: #48dd84;
  border-color: #48dd84;
}
