* {
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.list {
  flex: 0 0 25%;
  width: 25%;
  padding: 0 15px;
  margin: 15px 0;
}

.list > div {
  padding: 15px 0;
  text-align: center;
  box-shadow: 0 1px 3px #a5a2a2;
}

.list img {
  max-width: 10em;
}

.pagination > button {
  margin: 0 15px;
}
